h1{
    text-align: center ;
    text-decoration: underline;  
    color: blue;
    background-color: burlywood;
}
h3{
    color: red;
    background-color: aqua;
}

body{
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-size: cover;
}
#img{
    width: 700px;
}