body {
    background-image: url(https://pocket-syndicated-images.s3.amazonaws.com/644763e2a0b3e.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
1{
    color: blue;
    background-color: aquamarine;
    font-size: 20px;
}
#ids{

color: brown;
background-color: bisque;
text-align: center;
}
.cls
    
   color: red; 
   background-color: green;
   text-align: right;
}
